$text-color: #fff;
$box-color: burlywood;

:root {
  font-size: 62.8%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 300px; // 15.63vw
  height: 300px;
  color: $text-color;
  background-color: $box-color;
  font-size: 4.8rem;
  margin: 1rem;
}
